<div class="ms-auto">
  <ul class="list-unstyled mb-0 d-flex align-items-center gap-2">
  
    <!-- PERFIL -->
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" href="javascript:" ngbDropdownToggle>
          <img src="assets/images/logo_asl.png" alt="user-image" class="user-avtar" />
          <span><i class="ti ti-settings"></i></span>
        </a>

        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown user-menu" ngbDropdownMenu>
          <div class="user-menu__header">
            <h6 class="mb-1">
              Buenos días, <span class="text-muted">{{ nombreUsuario }}</span>
            </h6>
            <small class="text-muted">Administrador</small>
          </div>

          <div class="user-menu__list">
            <button class="dropdown-item" type="button" (click)="logout()">
              <i class="ti ti-logout me-2"></i> Cerrar sesión
            </button>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>