// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #000000,
    primary-dark: #000000,
    secondary: #0a5ab3,
    secondary-dark: #0a5ab3
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
